<form [formGroup]="modifyAuthorForm">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Modify Author</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Email address" formControlName="email">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Phone number" formControlName="phoneNumber">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" (click)="modifyAuthor()">Modify Author</button>
        </mat-card-actions>
    </mat-card>
</form>